<main class="w-full h-screen flex justify-center items-center">
  <div class="float-left w-2/5">
    <h1 class="font-bold text-7xl leading-snug">
      Start Your <br />
      Future <br />
      Education
    </h1>
    <p class="mb-7">
      Explore, learn, grow together. <br />
      Welcome to the world of limitless learning possibilities.
    </p>
    <button class="bg-yellow-500 p-3 rounded-2xl w-36 font-bold text-white">
      Discover More
    </button>
  </div>
  <img src="../assets/images/hero-banner.png" class="h-5/6" alt="" />
</main>

<div class="w-full h-screen flex justify-around items-center">
  <img src="../assets/images/about-banner.png" class="h-5/6" alt="" />

  <div class="w-2/5">
    <h1 class="font-bold text-5xl leading-snug">
      We Help To Create <br />
      Possibility & Successs in<br />
      Your Career!
    </h1>
    <p class="mb-7">
      Our mission is to empower you on your professional journey. Through
      tailored guidance, innovative resources, and unwavering support, we're
      here to help you achieve your career goals. Let's unlock your potential
      and pave the way for success together."
    </p>
    <button class="bg-yellow-500 p-3 rounded-2xl w-40 font-bold text-white">
      Get Started Today
    </button>
  </div>
</div>
<div class="w-full h-full flex justify-around">
  <div class="bg-yellow-50 w-96 grid justify-center rounded-lg">
    <img src="../assets/images/depertment-1.png" class="w-80 mt-5" alt="" />
    <h3 class="text-2xl">Artificial Intelligence</h3>
    <p>
      Welcome to the forefront of innovation. <br />
      Explore the limitless potential of AI
    </p>
    <button class="mr-auto text-yellow-500">Learn More</button>
  </div>
  <div class="bg-yellow-50 w-96 grid justify-center rounded-lg">
    <img src="../assets/images/depertment-1.png" class="w-80 mt-5" alt="" />
    <h3 class="text-2xl">Civil Engineering</h3>
    <p>
      Welcome to the forefront of innovation. <br />
      Explore the limitless potential of AI
    </p>
    <button class="mr-auto text-yellow-500">Learn More</button>
  </div>
  <div class="bg-yellow-50 w-96 h-96 grid justify-center rounded-lg">
    <img src="../assets/images/depertment-1.png" class="w-80 mt-5" alt="" />
    <h3 class="text-2xl">Business Studies</h3>
    <p>
      Welcome to the forefront of innovation. <br />
      Explore the limitless potential of AI
    </p>
    <button class="mr-auto text-yellow-500">Learn More</button>
  </div>
</div>
